<div class="consulta-container">
  <header class="consulta-header">
    <h1 class="text-3xl font-bold text-white">CONSULTA</h1>
    <img src="assets/images/logo-salud-total-bolivia-sin-fondo.png" alt="Logo de la Clínica" class="logo">
  </header>

  <section class="access-code-section">
    <label for="accessCode" class="access-code-label">Código de acceso:</label>
    <input
      type="password"
      id="accessCode"
      name="accessCode"
      [(ngModel)]="accessCode"
      placeholder="Ingrese el código aquí"
      class="access-code-input"
      (keyup.enter)="checkAccessCode()"
    >
    <button (click)="checkAccessCode()" class="access-button">Acceder</button>
  </section>

  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

  <section class="patient-history-section">
    <h2 class="patient-history-title">HISTORIAL DEL PACIENTE</h2>
    <textarea
      class="patient-history-textarea"
      readonly
      rows="15"
      cols="50"
      [value]="patientHistory"
      placeholder="El historial del paciente aparecerá aquí después de ingresar el código de acceso."
    ></textarea>
  </section>
</div>
