.shift-record-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #66AABF
}

.top-navbar {
  background-color: #088181; 
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dee2e6; 
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
  height: 60px; 
}

.navbar-logo img {
  height: 80px; 
}

.navbar-actions {
  display: flex;
  align-items: center;
}

.navbar-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 15px;
  display: flex;
  align-items: center;
  font-size: 0.9em;
}

.navbar-btn i { 
  margin-right: 5px;
  font-size: 1.2em; 
}

.user-btn {
  font-weight: bold;
}

.main-content {
  padding-top: 80px; 
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  flex-grow: 1;
}

.welcome-message {
  text-align: center;
  margin-bottom: 30px;
  color: #000000;
}

.welcome-message h2 {
  font-size: 1.8em;
  font-weight: normal;
}

.search-section {
  text-align: center;
  margin-bottom: 40px;
}

.search-section h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #000000;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
}

.search-input {
  flex-grow: 1;
  padding: 10px 15px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px; 
}

.search-button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #007bff; 
  color: white;
  border: 1px solid #007bff;
  border-radius: 0 4px 4px 0; 
  cursor: pointer;
}

.specialties-section {
  margin-top: 30px;
}

.specialties-section h3 {
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 30px;
  color: #000000;
}

.specialties-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
  gap: 15px; 
}

.specialty-card {
  border: 3px solid #000000;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  max-width: 200px; 
  width: 100%; 
  margin-left: auto;  
  margin-right: auto; 
}

.specialty-icon {
  width: 90px; 
  height: 90px;
  margin-bottom: 15px;
  object-fit: contain;
}

.specialty-card h4 {
  font-size: 1.3em;
  margin-bottom: 10px;
  color: #000000; 
}

.specialty-card p {
  font-size: 0.95em;
  color: #000000;
  margin-bottom: 15px;
  min-height: 50px; 
}

.btn-view-doctors {
  background-color: #28a745; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.btn-view-doctors:hover {
  background-color: #218838; 
}

.no-results-message {
  text-align: center;
  font-size: 1.1em;
  color: #777;
  padding: 30px;
}