<div class="contenedor">
  <div class="rol paciente"><button><i class="fas fa-user"></i> Paciente</button></div>
  <div class="rol medico"><button><i class="fas fa-user-md"></i> Médico</button></div>
  <div class="rol admin"><button><i class="fas fa-user-shield"></i> Administrador</button></div>
  <div class="rol hospital"><button><i class="fas fa-hospital"></i> Hospital/Clínica</button></div>

  <div class="contenido">
    <h1>BIENVENIDO A SALUD TOTAL BOLIVIA</h1>
    <h2>SELECCIONA UN ROL PARA INGRESAR AL SISTEMA</h2>
  </div>
</div>
