<div class="container">
  <h1 class="title">Lista de hospitales / clínicas</h1>

  <div class="section-container">
    <div class="section-header">
      <img src="/assets/images/logo-salud-total-bolivia-sin-fondo.png" alt="Icono Hospital" class="section-icon">
      <h2>HOSPITALES</h2>
    </div>
    <div class="content-box">
      <div class="list-item">
        Hospital Central
      </div>
      <div class="list-item">
        Hospital General
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-header">
      <img src="/assets/images/logo-salud-total-bolivia-sin-fondo.png" alt="Icono Clínica" class="section-icon">
      <h2>CLINICAS</h2>
    </div>
    <div class="content-box">
      <div class="list-item">
        Clínica del Valle
      </div>
      <div class="list-item">
        Clínica Integral
      </div>
    </div>
  </div>
</div>
