<div class="sobre-nosotros-container">
  <h1 class="titulo-principal">Sobre Nosotros
    <img src="assets/images/logo-salud-total-bolivia-sin-fondo.png" alt="Logo de Salud Total Bolivia" class="logo-titulo">
  </h1>

  <section class="seccion">
    <h2 class="subtitulo">{{ historiaTitulo }}</h2>
    <p class="parrafo">{{ historiaContenido }}</p>
  </section>

  <section class="seccion">
    <h2 class="subtitulo">{{ misionTitulo }}</h2>
    <p class="parrafo">{{ misionContenido }}</p>
  </section>

  <section class="seccion">
    <h2 class="subtitulo">{{ visionTitulo }}</h2>
    <p class="parrafo">{{ visionContenido }}</p>
  </section>
</div>
