<div class="container">
  <h1>BIENVENIDO A SALUD TOTAL BOLIVIA</h1>
  <p>SELECCIONA UN ROL PARA INGRESAR AL SISTEMA</p>
</div>

<button (click)="navegarLoginPaciente()" class="role-button left-top">👦 Paciente</button>
<button (click)="navegarLoginMedico()" class="role-button left-bottom">🧬 Médico</button>
<button (click)="navegarLoginAdmin()" class="role-button right-top">🛠️ Administrador</button>
<button (click)="navegarLoginHospital()" class="role-button right-bottom">🗂️ Hospital/Clínica</button>